doctype html
html(lang="en")
    head
        title= 'index'
        <meta charset="UTF-8">
    body
        div(id='app')
            app
    script.
      list_data= !{init_list_data};
      cart_data= !{init_cart_data};
    script(src='/bundle.js')
